.main-collection {
    width: auto;
    max-width: none;
    float: none;

    ul {
        display: grid;
        align-items: start;
        grid-gap: 20px;
        grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));

        li {
            img {
                max-width: 100%;
            }
        }
    }
}